{
    "twitch": "",
    "twitch2": "",
    "osuToken": "",
    "username": "",
    "username2": "",
    "OsuUser": "",
    "channels": "",
    "token": "",
    "userid": "",
    "client_id": "",
    "BearerToken": ""
}